
#         ██   ██                                 ████ ██
#  █████ ░░   ░██                                ░██░ ░░   █████
# ██░░░██ ██ ██████    █████   ██████  ███████  ██████ ██ ██░░░██
#░██  ░██░██░░░██░    ██░░░██ ██░░░░██░░██░░░██░░░██░ ░██░██  ░██
#░░██████░██  ░██    ░██  ░░ ░██   ░██ ░██  ░██  ░██  ░██░░██████
# ░░░░░██░██  ░██    ░██   ██░██   ░██ ░██  ░██  ░██  ░██ ░░░░░██
#  █████ ░██  ░░██   ░░█████ ░░██████  ███  ░██  ░██  ░██  █████
# ░░░░░  ░░    ░░     ░░░░░   ░░░░░░  ░░░   ░░   ░░   ░░  ░░░░░

[user]
	email = anntnzrb@hotmail.com
	name = anntnzrb
