#         ██   ██                                 ████ ██
#  █████ ░░   ░██                                ░██░ ░░   █████
# ██░░░██ ██ ██████    █████   ██████  ███████  ██████ ██ ██░░░██
#░██  ░██░██░░░██░    ██░░░██ ██░░░░██░░██░░░██░░░██░ ░██░██  ░██
#░░██████░██  ░██    ░██  ░░ ░██   ░██ ░██  ░██  ░██  ░██░░██████
# ░░░░░██░██  ░██    ░██   ██░██   ░██ ░██  ░██  ░██  ░██ ░░░░░██
#  █████ ░██  ░░██   ░░█████ ░░██████  ███  ░██  ░██  ░██  █████
# ░░░░░  ░░    ░░     ░░░░░   ░░░░░░  ░░░   ░░   ░░   ░░  ░░░░░

[user]
    name = anntnzrb
    username = anntnzrb
    email = anntnzrb@protonmail.com

[alias]
    a = add
    br = branch -v
    ca = commit --ammend
    cm = commit -m
    co = checkout
    cob = checkout -b
    d = diff
    last = log -1 HEAD
    lg = log --graph --decorate --stat
    lga = log --all --graph --decorate --stat
    ls = ls-files
    m = merge
    ps = push
    st = status -sb
    unstage = reset HEAD --
