#!/bin/sh

#                                       ████ ██  ██
#             ██████                   ░██░ ░░  ░██
#     ██   ██░██░░░██ ██████  ██████  ██████ ██ ░██  █████
#    ░░██ ██ ░██  ░██░░██░░█ ██░░░░██░░░██░ ░██ ░██ ██░░░██
#     ░░███  ░██████  ░██ ░ ░██   ░██  ░██  ░██ ░██░███████
#  ██  ██░██ ░██░░░   ░██   ░██   ░██  ░██  ░██ ░██░██░░░░
# ░██ ██ ░░██░██     ░███   ░░██████   ░██  ░██ ███░░██████
# ░░ ░░   ░░ ░░      ░░░     ░░░░░░    ░░   ░░ ░░░  ░░░░░░
# ░░░░ runs on tty / dm login

# -----------------------------------------------------------------------------
# system
# -----------------------------------------------------------------------------

# == Xorg settings
# disable screensaver
xset s off &
# off-screen time
xset dpms 0 0 900 &
# source Xresources
xrdb "$XDG_CONFIG_HOME/X11/.Xresources" &

# keyboard settings
remaps &

# sets the background with `setbg` script
setbg &

# compositor
picom -b &

# audio
pulseaudio -k ; pulseaudio --start --exit-idle-time=-1 >/dev/null 2>&1 &

# keybindings
sxhkd -t 5 &

# dunst
dunst &

# remove mouse when idle
unclutter &

# -----------------------------------------------------------------------------
# other applications
# -----------------------------------------------------------------------------

# music player daemon
mpd &

# light filter
redshift &

# choose display
displayselect &
