#!/usr/bin/env sh

#                                     ████ ██  ██
#           ██████                   ░██░ ░░  ░██
#   ██   ██░██░░░██ ██████  ██████  ██████ ██ ░██  █████
#  ░░██ ██ ░██  ░██░░██░░█ ██░░░░██░░░██░ ░██ ░██ ██░░░██
#  ░░███  ░██████  ░██ ░ ░██   ░██  ░██  ░██ ░██░███████
#██  ██░██ ░██░░░   ░██   ░██   ░██  ░██  ░██ ░██░██░░░░
#██ ██ ░░██░██     ░███   ░░██████   ░██  ░██ ███░░██████
#░ ░░   ░░ ░░      ░░░     ░░░░░░    ░░   ░░ ░░░  ░░░░░░
#░░░░ runs on tty / dm login

#◦◝◟∘◞◜◦ sets the background with `setbg` script
setbg &

#◦◝◟∘◞◜◦ compositor
picom &

#◦◝◟∘◞◜◦ keybindings
sxhkd -m 1 &

#◦◝◟∘◞◜◦ statusbar
dwmblocks &

#◦◝◟∘◞◜◦ dunst
dunst &

#◦◝◟∘◞◜◦ speed xrate up
xset r rate 300 50 &

#◦◝◟∘◞◜◦ remove mouse when idle
unclutter &

#◦◝◟∘◞◜◦ sources Xresources
xrdb ~/.Xresources &

#◦◝◟∘◞◜◦ altgr + a letter for extra stuff (accents, etc) | remaps capslock to escape
setxkbmap -option caps:super -variant altgr-intl && killall xcape 2>/dev/null ; xcape -e 'Super_L=Escape' &

#◦◝◟∘◞◜◦ choose display (should be at last)
displayselect
