#   █████
#  ██░░░██
# ░██  ░░
# ░██   ██
# ░░█████
#  ░░░░░
# snippets

# main function
snippet !main
int
main(int argc, char *argv[])
{
$0
}
endsnippet

# printf
snippet !printf
printf("${1:foo}\n", ${0:args});
endsnippet
