// config.kdl --- Zellij Configuration
//
// Code:

default_mode "normal"
mouse_mode true

// ----------------------------------------------------------------------------
// clipboard
// ----------------------------------------------------------------------------

copy_clipboard "system"
copy_on_select false

// ----------------------------------------------------------------------------
// layouts
// ----------------------------------------------------------------------------

default_layout "default"
auto_layout true

// ----------------------------------------------------------------------------
// UI
// ----------------------------------------------------------------------------

simplified_ui false
pane_frames true

ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
}

// ----------------------------------------------------------------------------
// themes
// ----------------------------------------------------------------------------

theme "default"
